body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #B39C7F;
  }
  .container, .submit-container {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 20px;
  }
  input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #4cae4c;
  }
  .inpbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .submit-container {
    width: 100%;
  }
  .submit {
    width: auto; /* Change from 300px to auto for better sizing */
  }

  .intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ptext {

    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px; /* Ensures the paragraph isn't too wide */
    text-align: center;
  }

  #proceedButton {
  display: none;
  opacity: 0;
  transition: opacity 2s ease;
  margin-top: 20px;
}

.headerContainer {
  display: none;
}

.bigHeader {
  font-size: 48px;
  transform: rotate(-10deg);
}
